@font-face {
    font-family: 'Righteous';
    src:url('font/Righteous-Regular.eot');
    src:url('font/Righteous-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Righteous-Regular.woff2') format('woff2'),
        url('font/Righteous-Regular.woff') format('woff'),
        url('font/Righteous-Regular.ttf') format('truetype'),
        url('font/Righteous-Regular.svg#Righteous-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
		margin:0;
		padding:0;
		background-color:#000;
		background: url('img/background.webp') no-repeat center center fixed;
  	background-size: cover;
  	overflow-y: auto;
  	overflow-x:hidden;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-family: 'Righteous', normal;
    font-size: 1rem;
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.header {
		top:0;
		left:0;
		background:#000;
		height:15vh;
		width:100%;
    display: flex;
    display:-webkit-flex;
  	position: fixed;
    justify-content: center;
    align-items:center;
    z-index:5;
}
.header img{
	width: 40vh;
}
h1 {
  font-size: 3.5rem;
  text-decoration: underline;
}
#loading {
  top:0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background:#000;
  z-index: 9999;
  display: flex;
  display:-webkit-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#spinner {
  animation: rotate 0.4s infinite linear;
  width:50px;
  height:50px;
  border:12px solid rgba(255, 50, 50, .6);
  border-bottom:12px solid #000;
  border-radius:50%;
  margin:0;
}
@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
#box {
  width:100vw;
  height:100vh;
  z-index:9998;
  position:fixed;
  top:0;
}
#box div {
  width:16.66vw;
  height:100%;
  display:inline-block;
}
.box1 {
  background:#000;
}
.box2 {
  background:#000;
  margin-left:-5px;
}
.container {
	margin-top: 15vh;
  margin-bottom: 10vh;
  display: flex;
  display:-webkit-flex;
	max-width: 100vw;
}
.padding-0{
  padding-right:0;
  padding-left:0;
}
.img-wrap-blurry img {
  transition: transform .25s;
  width: 100%;
  filter: blur(5px);
}
.img-wrap {
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: small;
  cursor: pointer;
}
.img-wrap:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity .25s;
}
.img-wrap img {
  transition: transform .25s;
  width: 100%;
  filter:none;
}
.img-wrap:hover img {
  transform: scale(1.15);
}
.img-wrap:hover:after {
  opacity: 1;
}
.img_description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  opacity: 0.4;
  z-index:1;
}
.img_title{
  position: absolute;
  bottom: 1.3em;
  left: 0;
  right: 0;
  color: #fff;
  opacity: 0.4;
  z-index:1;
}
.img-wrap:hover .img_description,.img-wrap:hover .img_title{
	opacity:0.9;
}
.concertsImgs {
	display:block;
}
.landscapesImgs {
	display: block;
}
.sportsImgs {
	display: block;
}
.portraitsImgs {
	display: block;
}
.info {
	display: flex;
	display:-webkit-flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  width: 10em;
  height: 2.1em;
  top: 30px;
  border-radius: 5px;
  left: -8em;
  background: rgba(255,50,50,.5);
  z-index: 1000;
  color: #fff;
  line-height: 2em;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.info:hover {
		left: -1.75em;
}
span {
  padding-right: 0.75em;
}
i.fas.fa-user-circle {
  margin-right: 0.65em;
}
.right_menu{
  display: flex;
	display:-webkit-flex;
  flex-direction: column;
  position: fixed;
  width: 10em;
  top: 30px;
  border-bottom-left-radius: 5px;
  right: -10em;
  background: rgba(255,50,50,.5);
  z-index: 999;
  color: #fff;
  padding-left: 0.6em;
  text-align: left;
  line-height: 2em;
  transition: 0.4s ease-in-out;
}
.showhidemenu {
		display: flex;
		display:-webkit-flex;
  	position: fixed;
  	top: 30px;
    right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
		color: #fff;
    background-color: rgba(255,50,50,.5);
    padding: 9px;
    cursor:pointer;
    z-index: 1000;
    transition: 0.4s ease-in-out;
}
.right_menu a {
		text-align: left;
    padding-left: .5em;
		cursor:pointer;
}
.right_menu a:hover {
		background: linear-gradient(-90deg, black, transparent);
}
.svgs {
    width: 2.5em;
    height: 2.5em;
    position: inherit;
}
hr {
  	width: 40%;
  	background-color: #fff;
		margin-left: auto;
		margin-right: auto;
  	cursor: default;
  	margin-top: 0.14em;
}
table {
    border: none;
    border-collapse: collapse;
    vertical-align: middle;
}
th {
    padding: 0.5em 0;
}
td {
		padding: 0 1em;
}
.social {
	display:inline-block;
  font-size: 1.2em;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
  margin: 0 0.6em;
  height: fit-content;
}
.social:hover { 
  cursor: pointer;
  color:rgb(255, 50, 50);
}
.vl {
	display:inline;
  border-right: 1px solid #fff;
  cursor: default;
}
.ml-auto, .mx-auto {
	margin-left: 0!important;
}
.mr-auto, .mx-auto {
	margin-right: 0!important;
}
.carousel img {
	/*filter: blur(10px);*/
	filter: none;
}
.container_about, i.fas.fa-angle-left {
	cursor:pointer;
}
.container_about, i.fas.fa-angle-left:hover {
	color:rgb(255, 50, 50);
}
.carousel-caption {
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
    width: 100%;
    height: 30%;
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 5%;
    padding-bottom: 5%;
}
.angle_right {
    color: #fff;
    position: absolute;
    display: flex;
    right: 1em;
    top: 1em;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    text-shadow: 0 0 0.3rem rgb(250,50,50);
}
.angle_right:hover {
		color:rgb(255,50,50);
		text-shadow: 0 0 0.8rem #fff;
}
.container_about {
	opacity:0;
	top:0;
	left:0;
	flex-direction:column;
  min-width:100%;
  padding:5vh 5vw;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  color:#fff;
  overflow-y:auto;
  display:none;
  cursor: default;
}
.container_about section {
    margin:5vh 0px;
}
a:link {
	color:#fff;
}
a:hover {
	color:rgb(255,50,50);
}
a:visited {
	color:#fff;;
}
a:visited:hover {
	color:rgb(255,50,50);
}
.carousel-indicators .active {
	width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: rgb(255,50,50);
}
.carousel-indicators li {
	margin: auto;
  width: 2px;
  height: 2px;
  border-radius: 100%;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    margin: 0 1%;
    width: 2%;
    height: 4%;
    top: 50%;
}
.footer {
		display: flex;
    display:-webkit-flex;
    justify-content: center;
    align-items: center;
  	position: fixed;
    width:100%;
    height:10vh;
    z-index:5;
    bottom:0;
    left:0;
    background:#000;
}
.footer a:hover {
    color:rgb(255, 50, 50);
}
.fade {
    background-color: rgba(0,0,0,.6);
}
.modal-dialog {
	max-width: 70%;
}
.modal-content {
	background-color: transparent;
	border: 0;
}
.modal-body {
	padding:0;
}

::-webkit-scrollbar {
    width:4px;
    height:4px;
}
::-webkit-scrollbar-track {
    background: #000; 
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 50, 50,0.8); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 50, 50,0.8); 
}
@media (max-width: 1024px){
	body { 
  	background: url('img/background_1024.webp') no-repeat center fixed;
  	background-size: cover;
	}
	.modal-dialog {
    max-width: 100%;
    margin: initial;
	}
	.angle_right {
		top: -2em;
  }
  .carousel-indicators {
  	margin-bottom: 2%;
  }
  .carousel-item {
  	background: black;
  }
  .carousel-caption {
    position: relative;
	}
	.carousel-caption h3 {
    font-size: 1.75em;
	}
	.carousel-control-next, .carousel-control-prev {
    position: absolute;
    margin: 0 1em;
	}
}
@media (max-width: 600px) {
	.carousel-caption p {
    font-size: 0.9em;
	}
	.carousel-caption h3 {
    font-size: 1.2em;
	}
}